.start{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;  
    text-align: center;
    background-color: rgb(6, 180, 249);
    flex-direction: column;
    padding: 0.25rem;
}
.formContainer,.login-form,.Register-form{

    display: flex;

    flex-direction: column;
    box-sizing: border-box;
    

}
.errorR{
  width: 200px;
  font-size: 14px;
  color: red;
  
}
label{
    display: flex;
    text-align: left;
    padding: 0.25rem 0;
}

.formContainer{
   /* background-color: white; */
   border: solid white;
   border-radius: 10px;
   padding: 2.5rem;
}
input{
    margin: 0.25rem 0;
    padding: 0.25rem;
    border: none;
    border-radius: 10px;
}
button{
    border: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #b92f8d;
    margin-top: 1rem;
    
}
.link-btn{
    background: none;
    text-decoration: underline;
    color: azure;
    margin: 0.25;
}
.home {
  /* Add any necessary styles for the home container */

  /* Example: */
  max-width: 100%;
  padding: 0 1rem;
}

header {
  /* Add any necessary styles for the header */

  /* Example: */
  display: flex;
  align-items: center;
  height: 50px;
  padding: 1rem 1rem;
  background-color: #ff691e;
  color: white;
}

nav {
  /* Add any necessary styles for the navbar */

  /* Example: */
  display: flex;
  justify-content: center;
  /* padding: 1rem 0; */
  background-color: #ff691e;
  margin-bottom: 0rem ;
  font-size: x-large;
}

nav ul {
  /* Add any necessary styles for the unordered list */

  /* Example: */
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
 
  margin-left: 4rem;
  
}

nav li button{
  background: none;
  color: white;
}






/* Media Queries */

@media (max-width: 768px ) {
  /* Styles for screens up to 768px wide */

  header {
    /* Example: */
    justify-content: space-between;
    
  }

  nav {
    /* Example: */
    flex-direction: row;
    align-items: center;
    background-color: #ff691e;
  }

  nav ul {
    /* Example: */
    flex-direction: row;
    /* padding: 1rem 0; */
  }

  nav li {
    /* Example: */
    margin: 0.5rem;
    font-size: 0.5rem;
  }
  nav li button{
    background: none;
    color: white;
  }

  
}

.movieDisplay {
    display: flexbox;
    flex-direction: row;
    padding: 2px;
    
    
    
}
.m button{
     background-color: #ff691e;
     color: bisque;
     display: flex;
     flex-direction: column;
     
}
.theater{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px; 
}
.ct{
  display: flex;
  flex-direction: column;

}
.ct .Date{
  width:100%
}

.container {
    
    width: 50%;
    height: 30%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: darksalmon;
    margin: 5px;
    
  }
  .calendar-container {
    position: absolute;
    top: 170px;
    left: -100%;
    transition: left 0.5s ease-in-out;
  }
  
  .calendar-container.show {
    left: 0;
  }
  
  .left, .right {
    margin-bottom: 2px;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 5px 10px;
  }
  

   .button-container{
    background-color: rgb(13, 2, 2);
    /* margin-bottom: 50px; */
    align-items: center;
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* box-sizing: border-box; */
    align-items: center;
    width: 80%;
    margin: 2rem;
    
  }
  .c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    justify-content:center;
    background-color: #428fb3;
  }
  .c1 h1{
    align-items: center;
  }
  
body{
  background-color: aqua;
}
  .hov{
    width: 40px;
    height: 30px;
    background-color: rgb(31, 180, 203);
  }
   .clicked{
    width: 40px;
    height: 30px;
    margin:2rem;
    background-color: #1eff35;
   }
   .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
   }
  .d1{
    display: flex;
    flex-direction: column;
    border:  solid rgb(211, 12, 12);
    margin: 1rem;
    margin-top: 0;
    padding: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 200;
    box-shadow: #e22208;
    background-color: rgb(239, 236, 39);
    float: left;

  }
  .d1 p{
    margin: 0%;
    padding: 0.5rem;
  }
 
  .movie-ticket {

    background-color: #36b5b5;
    border-radius: 8px;
    box-shadow: red;
    padding: 20px;
    margin-bottom: 20px;
    width:50%;
  }
  .calender-container {
  display: flex;
  flex-direction: column;
  width: 23%;
  }
  .book{
    padding:2rem;
  }
 .se
  
  .movie-ticket h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .movie-ticket p {
    margin: 8px 0;
  }
  
  .movie-ticket p:first-child {
    margin-top: 16px;
  }
  
  .movie-ticket p:last-child {
    margin-bottom: 0;
  }
  .form-container {
    
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    flex-direction: column;
  }
  .control{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-height: 500px) {
    /* Styles for smaller screens */
    .form-container {
      margin-top: 50px; /* Adjust the margin to create space between the form and navigation bar */
    }
  }
  
  /* Additional CSS styling for the form elements */
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border:solid white;
    padding: 1rem;
  }
  
  .form-container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
 
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 150px;
    margin-left: auto;
  }
  
  
  .form-container .c-s{
    width: 150px;
    margin-left: auto;

  }
  .form-container .cal{
    display: flexbox;

  }
  .error{
    padding: 0px;
    color:  #f62206;
  }
  .feedback-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     margin: 1rem;
  }
  
  .feedback-form {
    min-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .feedback-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .feedback-form .form-group {
    margin-bottom: 15px;
  }
  
  .feedback-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .feedback-form input,
  .feedback-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .feedback-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  /* .serr{
    display: flex;
    flex-direction: row;
  } */
 .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .button-group button {
    margin-bottom: 1rem;
  }
  
  @media (max-width: 700px) {
    .button-group {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movie-card {
    width: 33.33%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
  

  }
  .movie-card h2{
    padding: 0;
    margin: 0;
    color: #f62206;
  }
  
  .movie-image {
    width: 100%;
    height: 90%;
  }
  
  .movie-details {
    margin: 1rem;
  }
  
  .movie-title {
    font-weight: bold;
  }
  
  .movie-info {
    color: #555;
  }
  
  .book-button {
    margin-top: 0;
    margin-left: 0.5rem;
    color: white;
    background-color: orangered;
    width: 45%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
  }
  @media (max-width:600px){
    .book-button{
      font-size: 0.5rem;
    }
    .movie-card {
      width: 50%;
      padding: 1rem;
      margin-bottom: 1.5rem;
      box-sizing: border-box;
    }
  }
  .search{
    display: flex;
    flex-direction: row;
    /* margin-top: 1rem; */
    margin-left: 1rem;
  
  }
  .search button{
  /* margin: 1rem; */
  margin-top:0;
  margin-left: 0;
  padding: 0%;
  background: none;
  color: #f9f9f9;
  }
  .search input{
    margin: 0.8rem; 
    width: 50%;
    
    margin-left: 1rem;
  }
  
  .style1 {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    margin: 1rem;
  }
  
  .styleA {
    background-color: #ffcc00;
    padding: 1rem;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    margin: 1rem;
  }
  
  .styleiA {
    background-color: #eee;
    padding: 10px;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    margin: 1rem;
  }
  
  @media (max-width: 1410px) {
    .style1,
    .styleA,
    .styleiA {
      width: 55px;
      height: 35px;
      
    }
  }
  @media (max-width: 1340px) {
    .style1,
    .styleA,
    .styleiA {
      width: 50px;
      height: 35px;
    }
  }
  @media (max-width: 1265px) {
    .style1,
    .styleA,
    .styleiA {
      width: 45px;
      height: 35px;
    }
  }
  @media (max-width: 1190px) {
    .style1,
    .styleA,
    .styleiA {
      width: 40px;
      height: 35px;
    }
  }
  @media (max-width: 1115px) {
    .style1,
    .styleA,
    .styleiA {
      width: 35px;
      height: 30px;
    }
  }
  
  @media (max-width: 1040px) {
    .style1,
    .styleA,
    .styleiA {
      width: 30px;
      height: 25px;
    }
  }
  
  